<!DOCTYPE html>
{% extends 'navbar_layout.html' %}
{% load static from static %}
{% block content %}
<html lang="en">
		<div class="container" style="margin-top: 30vh, margin-bottom: 30vh;">
			<h1 class="welcome" style="margin-top: 15vh;">Experiences</h1>
				<div class="row">
					<div class="col-sm-4">
						<div>
							<img src="{% static 'images/tm.jpeg' %}" class="icon">
						</div>
					</div>
					<div class="col-sm-8 container">
						<div>
							<div class="home" style="margin-top: 15vh;">
								<p class="text-center">Graduated from SMAK Tirta Marta BPK Penabur at 2018.</p>
							</div>
						</div>
					</div>
				</div>
		
				<div class="row">
					<div class="col-sm-4">
						<div>
							<img src="{% static 'images/Makara_UI.png' %}" class="icon">
						</div>
					</div>
					<div class="col-sm-8 container">
						<div>
							<div class="home" style="margin-top: 20vh;">
								<p class="text-center">Enrolled in Universitas Indonesia at the year 2018 majoring in computer science.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div>
							<img src="{% static 'images/logo-bem.png' %}" class="icon">
						</div>
					</div>
					<div class="col-sm-8 container">
						<div>
							<div class="home" style="margin-top: 15vh;">
								<p class="text-center">Trainee at SBF (Sekolah Bem Fasilkom) media and design.Helped to create the 21st edition of “boolean”, which is a BEM Fasilkom magazine.</p>
							</div>
						</div>
					</div>
				</div>
		</div>
{% endblock %}