<!DOCTYPE html>
{% extends 'navbar_layout.html' %}
{% load static from static %}
{% block content %}
			<div class="container" style="margin-top: 5vh;">
				<div class="col-sm-8 container">
					<div>
						<div class="welcome">
							<p class="text-center">Ey you've made it this far</p>
							<p class="text-center">-Congrats-</p>
							<div class="home" style="margin-top: 10vh;">
								<p class="text-center">Thanks for stoppin by here's a little gif(t) for you</p>
								<p class="text-center"></p>
								<img src="{% static 'images/tenor.gif' %}" class="myImage">
							</div>
						</div>
					</div>
				</div>
			</div>

{% endblock %}