<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Story 1</title>
</head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  color: black;
}
th {
  text-align: left;
  color: black;
}
h2{
color: black;
}
</style>
<body>
    <h1>Hello my name is Jeremiah Tennes</h1>
    <article>NPM : 1806204966</article>
    <article>I am 19 years old</article>
	<article>Tempat kuliah: Universitas Indonesia</article>
	<article>Angkatan: 2018</article>
	<article>Hobby: Listening to music</article>
	<article>Description: I'm just a guy being a dude, 
			 by the way below are my picture, social media profile and education background </article>
		 
	<p>My picture</p>
	<img src="{% static 'images/userphoto.jpeg' %}" alt="Profile Picture" style="width:90px;height:120px;">
	<p>Social Media</p>
	<a href="https://www.instagram.com/jeremiahtennes/">
		<img src="{% static 'images/instagram.png' %}" alt="Instagram" style="width:42px;height:42px;">
	</a>
	
	<h2>Education background</h2>
	<table style="width:100%">
	<tr>
		<th>Institution name</th>
		<th>Institution location</th> 
		<th>Year enrolled/Year graduated</th>
	</tr>
	<tr>
		<td>SD YPPK Fatima</td>
		<td>Fakfak, Papua Barat</td>
		<td>2006/2012</td>
	</tr>
	<tr>
		<td>SMP YPPK St. Don Bosco</td>
		<td>Fakfak, Papua Barat</td>
		<td>2012/2015</td>
	</tr>
	<tr>
		<td>SMAK Tirta Marta BPK Penabur</td>
		<td>Jakarta, DKI Jakarta</td>
		<td>2015/2018</td>
	</tr>
	<tr>
		<td>Universitas Indonesia</td>
		<td>Depok</td>
		<td>2018/TBA</td>
	</tr>
</table>
</body>
{% endblock %}
</html>
