<!DOCTYPE html>
{% extends 'navbar_layout.html' %}
{% load static from static %}
{% block content %}
		<div class="container" style="margin-top: 30vh;">
			<div class="col-sm-8 container">
				<div>
					<div class="welcome">
						<p class="text-center">- Skills -</p>
						<div class="home" style="margin-top: 10vh;">
							<p class="text-center">Python</p>
							<p class="text-center">Java</p>
							<p class="text-center">HTML</p>
							<p class="text-center">CSS</p>
							<p class="text-center">Character Design</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="margin-top: 5vh;">
				<div class="col-sm-8 container">
					<div>
						<div class="welcome">
							<p class="text-center">-Portofolio-</p>
							<div class="home" style="margin-top: 10vh;">
								<img src="{% static 'images/lodi.JPG' %}" class="myImage">
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock %}