body{
	background-color: MidnightBlue;
}

h1{
	color: HoneyDew;
	font-family: verdana;
}
p{
	color: HoneyDew;
	font-family: verdana;
	}
article{
	color: HoneyDew;
	font-family: verdana;
	}

.navbar-static-top {
  margin-bottom: 19px;
}

pic1{
	position: absolute;
	width: 253px;
	height: 347px;
	left: 123px;
	top: 292px;
}

.header
{
	height: 100vh;
}
.navbar-style
{
	box-shadow: 0 5px 10px # # #050515;
	text-transform: uppercase;
	background-color: Orange;
}
.logo
{
	height: 48px;
	padding: 2px 10px;
}
.icon-bar
{
	background: black;
}
li a 
{
	color: #333;
}
.big-text
{
	font-size: 52px;
	margin: 20px 0;
	color: black;
}
.banner-info, .banner-image
{
	margin: 30px 0;
}
.myImage
{
	/* UserPhoto 1 */


	width: 253px;
	height: 347px;



}
.welcome
{
	/* - WELCOME - */


	width: 100%;
	height: auto;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	text-align: center;


}
.home
{
	width: 100%;
	height: auto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	text-align: center;

}
.icon
{
	width: 100%;
	height: auto;
}