{% extends 'navbar_layout.html' %}
{% load static %}
{% block content %}

            <div class="jadwal-card" style="color:white">
                <h2><span>{{ jadwal.kategori }}</span> - {{ jadwal.nama_kegiatan }}</h2>
                <div class="flex">
                    <div>
                        <h4>di {{ jadwal.tempat }}</h4>
                        <h5>Tahun ajaran: {{ jadwal.thnA }}</h5>
                        <h6>Jumlah sks: {{ jadwal.sks }}</h6>
                        <h7>Deskripsi: {{ jadwal.descrip }}</h7>
                        <p>{{ jadwal.tanggal }} - {{ jadwal.waktu }}</p>
                    </div>
                </div>
            </div>
        {% endblock %}
