{% extends 'navbar_layout.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="{% static 'style5.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <title>Bikin Jadwal</title>
</head>
<body>
    <div class="container">
        <h1>Jadwal Ku</h1>
        <div class="flex">
            <p>Today - {{ server_time }}</p>
            <a href="create">
                <button class="button">Create Jadwal</button>
            </a>
        </div>
            
        {% for j in jadwal %}
            <div class="jadwal-card">
                <a href="{% url 'lab5:details' id=j.pk %}">
                <h2><span>{{ j.kategori }}</span> - {{ j.nama_kegiatan }}</h2>
                </a>
                <div class="flex">
                    <div style="color:white">
                        <h4>di {{ j.tempat }}</h4>
                        <p>{{ j.tanggal }} - {{ j.waktu }}</p>
                    </div>
                    <form action="delete" method="POST" >
                        {% csrf_token %}
                        <input type="hidden" value="{{ j.id }}" name="id" />
                        <input class="button delete" type="submit" value="Delete" />
                    </form>
                </div>
            </div>
        {% endfor %}

    </div>
</body>
{% endblock %}
</html>